.unselectable {
  user-select: none;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline-center {
  display: inline-block;
  margin: auto;
}

.svg-whitener {
  filter: invert(48%) sepia(79%) saturate(247%) hue-rotate(150deg) brightness(1000%) contrast(119%);
}

.svg-primary {
  filter: invert(30%) sepia(93%) saturate(3662%) hue-rotate(213deg) brightness(102%) contrast(104%);
}

.svg-black {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(223deg) brightness(97%) contrast(107%);
}

.svg-blue {
  filter: invert(11%) sepia(98%) saturate(5982%) hue-rotate(231deg) brightness(104%) contrast(107%);
}

.svg-pink {
  filter: invert(27%) sepia(64%) saturate(2680%) hue-rotate(313deg) brightness(86%) contrast(86%);
}

.svg-purple {
  filter: invert(20%) sepia(25%) saturate(4448%) hue-rotate(258deg) brightness(96%) contrast(94%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.sticky {
  position: fixed;
  top: 0;
}

.pointer {
  cursor: pointer;
}

.undraggable {
  -webkit-user-drag: none;
}

.btn-icon-sm {
  width: 2rem;
  height: 2rem;
}

.btn-icon-md {
  width: 3rem;
  height: 3rem;
}

.btn-icon-xs {
  width: 1rem;
  height: 1rem;
}

.btn-icon-lg {
  width: 4rem;
  height: 4rem;
}

@font-face {
  font-family: "dana-light";
  src: url("/assets/fonts/dana-light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "dana-regular";
  src: url("/assets/fonts/dana-regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "dana-medium";
  src: url("/assets/fonts/dana-medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "dana-demibold";
  src: url("/assets/fonts/dana-demibold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "dana-black";
  src: url("/assets/fonts/dana-black.ttf") format("truetype");
  font-style: normal;
}
::placeholder {
  color: #666;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "dana-regular", tahoma, serif;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

a,
a:active,
a:checked {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: #069f69;
  color: white;
  transition: background-color 0.4s;
}
.btn-primary:hover {
  background-color: #08d089;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #069f69 !important;
  border-radius: 50% !important;
  width: 5rem !important;
  height: 5rem !important;
  color: white !important;
  padding: 2rem !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
}

.css-h4y409-MuiList-root {
  padding: 0 !important;
}

.MuiTooltip-tooltip, .MuiTooltip-arrow::before {
  background-color: #333;
  font-size: 14px;
}

/*# sourceMappingURL=Globals.css.map */
