@import "Vars";
@import "Fonts";


::placeholder {
  color: #666;
  font-size: 1.6rem;
}


*,
*:before,
*:after {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  direction: rtl;
  //text-align: justify;
  font-family: inherit;


}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "dana-medium",tahoma ,sans-serif;

}

body {
  overflow-x: hidden !important;
  position: relative;

}


a,
a:active,
a:checked {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// manipulating swiper next and prev buttons
.swiper-button-prev,
.swiper-button-next{
  background-color: $primary-color !important;
  border-radius: 50% !important;
  width: 5rem !important;
  height: 5rem !important;
  color: #fff !important;
  padding: 1rem !important;
  //font-size: 1rem;

  &:after{
    font-size: 2rem !important;
  }
}
// manipulating list component padding
.css-h4y409-MuiList-root{
  padding: 0 !important;

}

// manipulating tooltip background color and fontsize
.MuiTooltip-tooltip,.MuiTooltip-arrow::before{
  background-color: $grey-color !important;
  font-size: 1.4rem !important;
}

.MuiSnackbarContent-root , .css-1qe5cpw-MuiPaper-root-MuiSnackbarContent-root {

  justify-content: space-between !important;


}

.MuiSnackbarContent-action , .css-1kr9x0n-MuiSnackbarContent-action {

  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;

}

.pointer {
  cursor: pointer;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.fill {
  object-fit: fill;
}


.MuiSnackbarContent-message , .css-1exqwzz-MuiSnackbarContent-message{
  font-size: 15px !important;
  //background-color: #563fa6;


}

