@import "Vars";
@import "Utilities";
@import "Fonts";


::placeholder {
  color: #666;
  font-size: 1.6rem;
}


*,
*:before,
*:after {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  direction: rtl;
  //text-align: justify;
  font-family: inherit;


}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "dana-regular",tahoma ,sans-serif;



}

body {
  width: 100vw;
  overflow-x: hidden !important;
  position: relative;
  //padding: 1rem;
  //display: flex;
  //flex-direction: column;

}


a,
a:active,
a:checked {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

button{
  //color: white !important;
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;

  &:focus {
    outline: none;
  }



}


.btn-primary{
  background-color: $color-primary;
  color: white;
  transition: background-color .4s;


  &:hover {
    background-color: lighten($color-primary, 10%);
  }



}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// manipulating swiper next and prev buttons
.swiper-button-prev,
.swiper-button-next{
  background-color: #069f69 !important;
  border-radius: 50% !important;
  width: 5rem !important;
  height: 5rem !important;
  color: white !important;
  padding: 1rem !important;
  //font-size: 1rem;

  &:after{
    font-size: 2rem !important;
  }
}
// manipulating list component padding
.css-h4y409-MuiList-root{
  padding: 0 !important;

}


// manipulating tooltip background color and fontsize
.MuiTooltip-tooltip,.MuiTooltip-arrow::before{
  background-color: #333 !important;
  font-size: 14px !important;
}

.MuiSnackbarContent-root , .css-1qe5cpw-MuiPaper-root-MuiSnackbarContent-root {

  justify-content: space-between !important;


}

.MuiSnackbarContent-action , .css-1kr9x0n-MuiSnackbarContent-action {

  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;

}



.css-1xk4vfn-MuiSnackbar-root .css-1qe5cpw-MuiPaper-root-MuiSnackbarContent-root{
  //background-color: #e50909 !important;
}

.MuiSnackbarContent-message , .css-1exqwzz-MuiSnackbarContent-message{
  font-size: 15px !important;
  //background-color: #563fa6;


}

//.css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon{
//  transform: rotate(180deg);
//
//
//}
//
//.MuiModal-root , .MuiDrawer-root {
//  direction: ltr !important;
//}
//.MuiPagination-root {
  //direction: ltr !important;
//}
//.footer-link {
//  color: white;
//  font-size: 1.6rem;
//  display: block;
//  justify-content: flex-start;
//  transition: background-color .4s;
//
//  &:hover{
//    background-color: rgba(black,.1);
//  }
//
//
//
//}
//
//.css-1qe5cpw-MuiPaper-root-MuiSnackbarContent-root {
//  font-size: 16px !important;
//  font-family: "dana-bold" , serif;
//  background-color: $color-primary;
//  display: flex;
//  justify-content: center;
//}
//
//.css-1kr9x0n-MuiSnackbarContent-action {
//  margin-right: 50px;
//}
//
//.css-1exqwzz-MuiSnackbarContent-message {
//  padding: 13px;
//}


